/* Estilização do botão de dropdown */
#checkbox {
    display: none;
}
.toggle {
    position: fixed;
    top: 30px;
    right: 20px;
    width: 40px;
    cursor: pointer;
    display: block;
    height: calc(4px * 3 + 11px * 2);
    z-index: 100;
}
.bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: 2px;
    background: white;
    opacity: 1;
    transition: none 0.35s;
}
.bar--top {
    bottom: calc(50% + 11px + 2px);
    transition-property: bottom, transform;
    transition-delay: 0.35s, 0s;
}
.bar--middle {
    top: calc(50% - 2px);
    transition-property: opacity;
    transition-delay: 0.35s;
}
.bar--bottom {
    top: calc(50% + 11px + 2px);
    transition-property: top, transform;
    transition-delay: 0.35s, 0s;
}
#checkbox:checked + .toggle .bar--top {
    bottom: calc(50% - 2px);
    transform: rotate(135deg);
    transition-delay: 0s, 0.35s;
}
#checkbox:checked + .toggle .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: 0.35s;
}
#checkbox:checked + .toggle .bar--bottom {
    top: calc(50% - 2px);
    transform: rotate(225deg);
    transition-delay: 0s, 0.35s;
}

/* Estilização da lista de dropdown */
#dropdown {
    position: fixed;
    top: 70px;
    right: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    width: 240px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 999;
    opacity: 0;
}
#checkbox:checked ~ #dropdown {
    max-height: 400px;
    opacity: 1;
}
#dropdown ul {
    margin: 0;
    padding: 10px;
    list-style: none;
    width: 100%;
}
#dropdown li {
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
}
#dropdown li:last-child {
    border-bottom: none;
}
#dropdown a {
    color: #444;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
}
#dropdown a:hover {
    color: #ff6a00;
}
